.App {
 
  background-color: coral;
  display: flex;
  flex-direction: column;   
  align-items: center;      
  justify-content: center;  
  min-height: 100vh; 
}


#list{
  display: flex;
}

.logo{
  width:200px ;
  height:200px;
  justify-content: center;

}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: fuchsia;
  width: 100vw;
  padding: 10px 20px;
}


.sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #f9f9f9;
}



nav li {
  padding: 10px 0;       
  border-bottom: 1px solid #ddd; 
}


nav li a {
  color: #fff;           
  text-decoration: none; 
}

nav li a:hover {
  text-decoration: underline;  
}

ul {
  list-style: none;
  padding: 0;
}


.lista {
  display: flex; 
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding:0;
  justify-content: center;
  
}

.recipeBox{
  background-color: rgba(105, 0, 0, 0.5);
  border-radius: 10px;
  text-align: center;
  padding: 10px; 
  justify-content: space-evenly;
}


.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.formContainer {
  background-color: fuchsia;  
  border: 2px solid #ccc;   
  border-radius: 8px;        
  padding: 20px;            
  max-width: 500px;         
  margin: 20px auto;       
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}

.formContainer form {
  display: flex;
  flex-direction: column;
  gap: 10px;  
}

.formContainer input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #999;
  border-radius: 4px;
}

.formContainer button {
  padding: 12px;
  font-size: 16px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.formContainer button:hover {
  background-color: #555;
}